
* {
    /* box-sizing: border-box; */
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: #fff;
}

.container {
    font-size: 18px;
    width: 90%;
    margin: auto;   
}

nav {
    height: 70px;
    width: 1500px;
    margin-left: -80px;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: #0f172a;
    align-items: center;
    position:fixed;
    margin-top: -10px;
    /* background-color: orange; */
 

}

nav > div {
    height: 100px;
    width: 650px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-right: 230px;
    /* background-color: red; */
}


i {
    font-size: 50px;
}

nav h2 {
    height: 30px;
    width: 137px;
    margin-left: -100px;
    color: rgb(254, 254, 254);
    border: solid 2px white;
    padding: 3px 5px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

nav a:hover {
    color: aqua;
}

nav h2:hover {
    color: aqua;
    border-color: aqua;
}


#introduce1 {
    height: 700px;
    width: 90%;
    /* background-color: #143237; */
    margin-left: 80px;
    margin-bottom: 30px;
    padding: 60px 0;
}

.hero {
    height: 500px;
    width: 82%;
    /* background-color: rgb(127, 100, 152); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    margin-left: 100px;

}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 13px;
    margin-left: 10px;
    color: aqua
}

.hero-text h2 {
    font-size: 37px;
    margin-bottom: -17px;
    margin-left: 10px;
}

.hero-text h3 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: aqua
}

.hero-text p {
    color: #fefefe;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
}

.btn {
    height: 35px;
    width: 120px;
    background: #06b6d4;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    color: #fff;
    margin-left: 10px;
    font-size: 23px;
    text-shadow: 5px -2.5px 4px #0d1423;
}

/* .zero{
    height: 650px;
    width: 650px;
    color: orange;

} */

.hero-img {
    height:290px ;
    width: 290px;
    background-image:url(./profile.jpeg);
    background-size: cover;
    border-radius: 100%;
    margin-right: 35px;
    border : solid 0px #06b6d4;
    box-shadow: 0px 0px 50px 10px #06b6d4;
   
    /* position: relative; */
}

/* .hero-img img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin-left: -15px;
    margin-right: 120px;
    margin-top: -10px;
    position: absolute;
    
} */

/* .hero-img::before {
    height: 650px;
    width: 650px;
    content: "";
    position: absolute;
    background: #06b6d4;
    border-radius: 50%;
    top: -25px;
    left: -25px;
    z-index: 1;
    filter: blur(40px);
    margin-left: -10px;
    margin-right: 120px;
} */



#introduce2 {
    padding: 60px 0;
    height: 800px;
    width: 80%;
    /* background-color: #143237; */
    margin-left: 150px;
    margin-bottom: 30px;
}

.about {
    height: 1100px;
    width: 85%;
    /* background-color: rgb(127, 100, 152); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    margin-left: 100px;
}

.about-text h1 {
    font-size: 45px;
    margin-bottom: 7px;
    margin-top: -400px;
    /* margin-left: 950px; */
    margin-left: 330px;
    color: aqua
}

.about-text h2 {
    font-size: 35px;
    margin-bottom: 17px;
    /* margin-left: 950px; */
    margin-left: 330px;
}

.about-text p {
    color: #fefefe;
    margin-bottom: 20px;
    /* margin-left: 950px; */
    margin-left: 50px;
    margin-right: 150px;
    text-align: justify;
    text-align-last: justify;
    /* background-color: red; */
}

.about-btn {
    height: 35px;
    width: 140px;
    background: #06b6d4;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    color: #fff;
    /* margin-left: 950px; */
    margin-left: 330px;
    font-size: 23px;
    text-shadow: 5px -2.5px 4px #0d1423;
}

/* .about-img {
    position: relative;
} */

/* .about-img img {
    height: 560px;
    width: 560px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin-left: -1880px;
    margin-right: 570px;
    margin-top: -10px; */
    /* mix-blend-mode:difference;
    filter: contrast(4);
    

}

.about-img::before {
    height: 600px;
    width: 600px;
    content: "";
    position: absolute;
    /* background-color:#06b6d4; */
    /* border: solid 30px #06b6d4;
    border-radius: 100%;
    top: -25px;
    left: -25px;
    z-index: 1;
    filter: blur(7px);
    margin-left: -1900px;
    margin-right: 1200px;
    margin-top: -30px;

}  */

#introduce3 {
    padding: 60px 0;
    height: 800px;
    width: 85%;
    /* background-color: #143237; */
    margin-left: 100px;
    margin-bottom: 30px;
} 

 #introduce3 h2 {
    font-size: 45px;
    margin-bottom: 70px;
    margin-top: 130px;
    margin-left: 500px;
    color: aqua
}

/*.programs {
    display: grid;
    grid-template-columns: repeat(3, 700px);
    grid-template-rows: repeat(2,400px);
    column-gap: -200px;
  

}

.pro-img {
    height: 300px;
    width: 450px;
    background: #1e293b;
    margin-left: 260px;
    border-radius: 30px;
}

.pro-img img {
    margin-top: 40px;
    margin-left: 100px;
    width: 30%;
    border-radius: 100%;
    position: absolute;
    height: 230px;
    width: 230px;
    
}

.programs .pro-img:nth-child(1):hover,
.programs .pro-img:nth-child(2):hover,
.programs .pro-img:nth-child(3):hover,
.programs .pro-img:nth-child(4):hover,
.programs .pro-img:nth-child(5):hover,
.programs .pro-img:nth-child(6):hover{
    box-shadow: -7px 2px 10px 5px rgb(0, 0, 0);
}  */

#introduce4 {
    padding: 60px 0;
    height: 800px;
    width: 85%;
    /* background-color: #143237; */
    margin-left: 100px;
    margin-bottom: 30px;
}

#introduce4 h1 {
    font-size: 45px;
    margin-bottom: 75px;
    margin-top: 30px;
    margin-left: 450px;
    color: aqua
}



.cards {
    height: 500px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 280px);
    gap: 50px;
    /* background-color: red; */
}

.card {
    height: 380px;
    width: 280px;
    background: #1e293b;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    margin-left: -60px;
    /* margin-right: 200px; */
    border-radius: 40px;
    box-shadow: 5px 5px 5px 3px black;
}

.card h3 {

    margin-top: 37px;
    margin-bottom: 10px;
}

.card p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.cards .card:nth-child(1):hover,
.cards .card:nth-child(2):hover,
.cards .card:nth-child(3):hover,
.cards .card:nth-child(4):hover,
.cards .card:nth-child(5):hover,
.cards .card:nth-child(6):hover {

    transform: translateY(-15px);
    box-shadow: -7px 10px 15px 8px  aqua;
}


button {
    height: 35px;
    width: 140px;
    background: #06b6d4;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
    text-shadow: 5px -2.5px 4px #0d1423;
}

.btn1 {
    margin-top: 140px;
}

.btn2 {
    margin-top: 70px;
}

.btn3 {
    margin-top: 370px;
}

.btn4 {
    margin-top: 45px;
}

.btn5 {
    margin-top: 100px;
}

.btn6 {
    margin-top: 190px;
}

.card img {

    border-radius: 100%;
    margin-bottom: -40px;
}


:hover .cards > h3 {
    color: #06b6d4;
}



#introduce5 {
    padding: 60px 0;
    height: 300px;
    width: 85%;
    /* background-color: #143237; */
    margin-left: 100px;
    margin-bottom: 30px;
}

#introduce5 h1 {
    font-size: 45px;
    margin-bottom: 25px;
    margin-top: 5px;
    margin-left: 500px;
    color: aqua
}

#introduce5 img {
    border-radius: 100%;
}

#introduce5 h5 {
    font-weight: 100;
    margin-left: 500px;
    margin-top: 40px;
    margin-bottom: -30px;
}



#introduce6 h2 {
    font-size: 45px;
    margin-bottom: 25px;
    margin-top: 50px;
    margin-left: 580px;
    color: aqua
}

.contact {
    height: 340px;
    width: 500px;
    background: #1e293b;
    padding: 25px;
    border-radius: 10px;
    margin-left: 450px;
    margin-bottom: 100px;
}

.contact input,
.contact textarea {
    width: 400px;
    height: 30px;
    padding: 20px;
    margin: 10px 0px 0px 20px;
    border: none;
    border-radius: 5px;
    font-size: large;


}

.contact textarea {
    height: 150px;
}

footer {
    text-align: center;
    padding: 20px;
    color: #777;
}

#introduce7 {
    padding: 60px 0;
    height: 700px;
    width: 85%;
    /* background-color: #143237; */
    margin-left: 100px;
    margin-bottom: 30px;
}

#introduce7 h2 {
    font-size: 45px;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 470px;
    color: aqua
}

#introduce7 h3,p{
    margin-bottom: -20px;  
}


.slice-container {
    height: 200px;
    /* width: 600px; */
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    justify-content: center;
    align-items: center;
    display: grid;
    /* background-color: rebeccapurple; */
    grid-template-columns: repeat(3, 430px);
    /* gap: 50px; */
    margin-top: -50px;
}

.slice {
    height: 220px;
    background: rgba(0, 0, 0, 0.7);
    padding: 22px;
    width: 370px;
    border-radius: 10px;
    box-shadow: 0 0 15px #4da6ff;
    transition: 0.5s;
    border-style: groove;
    margin-left: 10px ;
}

.slice:hover {
    transform: translateY(-7px);
    transform: scale(1.2);
    background-color: rgb(13, 231, 243);
    color: rgb(114, 87, 114);
    box-shadow: 0 0 15px #455c73;
}


/* ===== SKILLS ===== */

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.skill-box {
    position: relative;
    text-align: center;
    transition: 0.3s;
}

.skill-box:hover {
    transform: scale(1.1);
}

.skill-icon {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    border: 3px solid #4da6ff;
    box-shadow: 0 0 15px #4da6ff;
}

.python {
    background-image: url("https://img.icons8.com/color/480/python.png");
}

.sql {
    background-image: url("https://cdn-icons-png.flaticon.com/512/4248/4248443.png");
}

.html {
    background-image: url("https://cdn-icons-png.flaticon.com/512/732/732212.png");
}

.css {
    background-image: url("https://cdn-icons-png.flaticon.com/512/732/732190.png");
}

.js {
    background-image: url("https://cdn-icons-png.flaticon.com/512/5968/5968292.png");
}



#introduce8 {
    padding: 60px 0;
    height: 1300px;
    width: 85%;
    /* background-color: #143237; */
    margin-left: 200px;
    margin-bottom: 30px;
} 

 #introduce8 h2 {
    font-size: 75px;
    margin-bottom: 70px;
    margin-top: 300px;
    margin-left: 1000px;
    color: aqua
}